
@{
    ViewBag.Title = "Provider";
}

<h2> OpenID Provider endpoint</h2>

<h2>OpenID Provider endpoint</h2>
<p>
    This page expects to receive OpenID authentication messages to allow users to log
    into other web sites.
</p>